.line {
  width: 400px;
  height: 1px;
  margin-top: 28px;
  background-color: #ddd;
}

.right {
  margin-left: 419px;
  padding-right: 105px;
  padding-left: 0px;
}

.year {
  display: inline-block;
  margin-top: 45px;
  padding-right: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
}

.rightcolumn {
  padding-right: 287px;
  padding-left: 0px;
}

.divider {
  height: 10px;
  background-color: transparent;
}

.caption {
  margin-bottom: 23px;
  padding-left: 0px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 31px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.category {
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  color: #a5a5a7;
  font-size: 12px;
  font-weight: 400;
}

.logos {
  min-width: 135px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
}

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10%;
  padding-left: 10%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.bio {
  position: static;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-right: 15%;
  padding-left: 15%;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.3px;
}

.body {
  overflow: visible;
  height: 100vh;
  border: 0px solid #000;
  background-color: #000;
  background-image: url('../images/FullSizeRender-copy.jpg');
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.left {
  padding-right: 53px;
}

.rightside {
  position: static;
  left: 453px;
  top: 0px;
  bottom: 0px;
  overflow: scroll;
  padding-right: 2%;
  padding-left: 2%;
}

.profile {
  display: block;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10%;
  padding-bottom: 20px;
  padding-left: 10%;
  text-align: left;
}

.connect {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.nav {
  position: fixed;
  width: 300px;
  background-color: transparent;
}

.leftone {
  position: static;
  margin-top: 25px;
  padding-left: 0px;
  background-color: transparent;
}

.lineline {
  position: static;
  width: auto;
  height: 1px;
  float: none;
  clear: none;
  background-color: #dadada;
}

.connectwme {
  position: static;
  display: block;
  padding-top: 20px;
  padding-right: 10%;
  padding-left: 10%;
  font-family: Montserrat, sans-serif;
  color: #969696;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.links {
  border-color: #fff;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  text-decoration: none;
}

.links.menulinks {
  color: #a5a5a5;
  font-weight: 400;
}

.links.morelink {
  font-size: 16px;
}

.links.morelink.back {
  margin-top: 0%;
  font-size: 20px;
}

.bolds {
  font-weight: 500;
}

.leftcolumn {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-right: 2%;
  padding-left: 2%;
}

.icon {
  display: block;
  margin-top: 26px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 8%;
  opacity: 0.55;
}

.miniline {
  width: auto;
  height: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #dadada;
  color: #dadada;
}

.whole {
  margin-left: 0px;
  padding-left: 0px;
}

.flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.side-bar {
  width: 20%;
  background-color: #fff;
  background-image: url('../images/Artboard.png');
  background-position: 0px 0px;
  background-size: cover;
  box-shadow: 1px 1px 1px 0 #dadada;
}

.main {
  overflow: visible;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.content {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  overflow: visible;
  margin-top: 8%;
  padding: 0px 7% 8%;
  border: 0px solid #000;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 55px 0 rgba(0, 0, 0, .1);
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0%;
  margin-bottom: 0px;
  padding-top: 2%;
  padding-bottom: 9%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #000;
}

.footer.casefooter {
  margin-top: 7%;
}

.screenshot {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 20px;
}

.linkedlogo {
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-top: 28px;
  padding-right: 115px;
  padding-bottom: 0px;
  background-color: #fff;
  background-image: url('../images/BeeckCenter_logo-ART-fullcolor.svg');
  background-position: 0px 0px;
  background-size: 130px 60px;
  opacity: 1;
  font-size: 0px;
  cursor: pointer;
}

.linkedlogo.advisory {
  margin-bottom: 20px;
  padding-top: 26px;
  padding-right: 105px;
  padding-bottom: 0px;
  background-image: url('../images/Education-Advisory-Board.png');
  background-position: 0px 0px;
  background-size: 120px;
  background-attachment: scroll;
}

.linkedlogo.gtown {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 73px;
  padding-right: 105px;
  padding-bottom: 0px;
  background-image: url('../images/Image-result-for-georgetown-mcdonough.jpeg');
  background-position: 0px 0px;
  background-size: 120px;
  background-attachment: scroll;
}

.bottom {
  margin-top: 0px;
  margin-left: 100px;
  padding-left: 0px;
  font-family: Roboto, sans-serif;
  color: #888;
  font-size: 18px;
  font-weight: 300;
}

.message {
  margin-top: 84px;
  margin-right: 10%;
  margin-left: 10%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

.grey {
  font-family: 'Open Sans', sans-serif;
  color: #838383;
  font-size: 18px;
}

.linkwhite {
  color: #fff;
  font-weight: 500;
  text-decoration: underline;
}

.nea {
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-top: 12px;
  padding-right: 95px;
  padding-bottom: 1px;
  background-color: #fff;
  background-image: url('../images/NEA-Logo.gif');
  background-position: 0px 0px;
  background-size: 110px;
  font-size: 0px;
}

.ife {
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-right: 45px;
  padding-bottom: 50px;
  background-color: #fff;
  background-image: url('../images/1924869_10153943829300174_1771500494_n.png');
  background-position: 0px 0px;
  background-size: cover;
  font-size: 0px;
}

.mit {
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-right: 55px;
  background-color: #fff;
  background-image: url('../images/MIT-logo-with-spelling-office-black-red-design1-copy.png');
  background-position: 0px 0px;
  background-size: cover;
  font-family: Roboto, sans-serif;
  font-size: 0px;
}

.wp {
  margin-top: 25px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-right: 160px;
  padding-bottom: 0px;
  background-color: #fff;
  background-image: url('../images/washington_post_logo.png');
  background-position: 0px 0px;
  background-size: 175px;
  font-size: 0px;
}

.screenshotdouble {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.herofont {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: visible;
  width: 100%;
  height: 100%;
  margin-bottom: 10%;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: none;
  background-size: auto;
  text-align: left;
}

.titletop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40%;
  padding-right: 10%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.titletopp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-top: 0%;
  padding-bottom: 0%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.xavierrievra {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  overflow: hidden;
  padding-top: 35%;
  padding-left: 0%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  line-height: 44px;
  font-weight: 300;
  text-align: right;
}

.xavier {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 45px;
  line-height: 40px;
  font-weight: 600;
}

.section {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  overflow: visible;
  margin-top: 0%;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #fff;
}

.section.last {
  margin-top: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.section.menu {
  margin-top: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.section.section2 {
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
}

.aboutme {
  margin-top: 7%;
  margin-left: 0%;
  padding-right: 5%;
  padding-left: 0%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
  text-align: right;
}

.aboutmetitle {
  padding-top: 30%;
  padding-left: 10%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  font-weight: 300;
}

.aboutmetitle.aboutmetitle2 {
  padding: 0% 5% 0% 6%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 33px;
  font-weight: 700;
  text-align: right;
}

.bottomtitle {
  font-family: 'Open Sans', sans-serif;
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 400;
}

.seemore {
  display: block;
  width: 180px;
  height: 45px;
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 9px;
  border: 4px solid #000;
  border-radius: 0px;
  background-color: #fff;
  direction: ltr;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.beeckimages {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.beeckwork {
  margin-top: 5%;
  margin-bottom: 5%;
}

.text-span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  line-height: 44px;
  font-weight: 400;
}

.first {
  margin-bottom: 12%;
}

.container {
  position: static;
  overflow: visible;
  padding: 0px;
  border-radius: 30px;
  background-color: transparent;
  text-align: right;
}

.div-block {
  margin-left: 10%;
  padding: 30px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 10px 25px 3px rgba(184, 199, 211, .2);
  text-align: left;
}

.column {
  padding-right: 0px;
}

.column-2 {
  padding-left: 0px;
}

.image {
  position: absolute;
  margin-left: -60px;
  padding-left: 0px;
}

.image-2 {
  position: static;
  margin-top: -70px;
  margin-bottom: 0px;
  margin-left: 365px;
}

.items {
  margin-top: 0px;
  padding: 20%;
  border-radius: 30px;
  background-color: #fff;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.items._2 {
  display: block;
  padding-top: 43%;
  background-color: transparent;
  background-image: url('../images/Bites.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: scroll;
  box-shadow: 0 10px 25px 3px rgba(184, 199, 211, .2);
}

.items._1 {
  display: block;
  padding-top: 43%;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  background-image: url('../images/Designlazy-Macbook-iphone-mockup.jpg');
  background-position: 45% 50%;
  background-size: 600px;
  box-shadow: 0 10px 25px 3px rgba(184, 199, 211, .2);
}

.items._3 {
  display: block;
  padding-top: 43%;
  background-color: transparent;
  background-image: url('../images/BeeckCenter.png');
  background-size: cover;
  box-shadow: 0 10px 25px 3px rgba(184, 199, 211, .2);
}

.items._0 {
  display: block;
  padding-top: 43%;
  background-image: url('../images/Hanover-Asset.png');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: scroll;
}

.row {
  margin-top: 7%;
  margin-right: 0px;
  margin-left: 0px;
}

.row-2 {
  margin-top: 7%;
  margin-right: 0px;
  margin-left: 0px;
}

.heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.text-block {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-weight: 600;
  text-align: center;
}

.casetitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 900;
  text-decoration: none;
}

.casetitle.featured {
  margin-top: 5%;
}

.casecaption {
  margin-top: 3%;
  padding-right: 10%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.morelink {
  margin-top: 3%;
  margin-bottom: 0px;
  padding-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.morelink.links {
  margin-top: 3%;
  background-color: transparent;
  box-shadow: inset 0 -7px 0 0 #fc0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.socialbutton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-left: 385px;
  padding: 0px 1px 2px 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: transparent;
  background-image: url('../images/if_-15_3057688.svg');
  background-position: 0px 0px;
  background-size: 25px;
  background-attachment: scroll;
  text-align: left;
}

.backbutton {
  margin-top: -1%;
  margin-bottom: 25%;
  font-family: 'Open Sans', sans-serif;
  color: #979797;
  font-size: 21px;
  font-weight: 400;
  text-align: right;
}

.titlecase {
  margin-top: 0%;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.text-block-2 {
  font-size: 21px;
}

.text-block-3 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
}

.column-3 {
  padding-left: 5%;
}

.casepage {
  position: static;
  padding-top: 0%;
  padding-right: 5%;
  padding-left: 5%;
  font-family: 'Open Sans', sans-serif;
}

.casesubtitle {
  margin-top: 1%;
  font-family: 'Open Sans', sans-serif;
  color: #494949;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.casesubtitle.aboutsubtitle {
  color: #fff;
}

.casetext {
  margin-top: 2%;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.casetext.top {
  margin-top: 6%;
  font-size: 16px;
  line-height: 24px;
}

.casetext.top.abouttext {
  margin-top: 3%;
  margin-bottom: 4%;
}

.caserole {
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.caserole._2nd {
  margin-top: 7%;
  font-family: 'Open Sans', sans-serif;
}

.caserolesubtitle {
  margin-top: 0%;
  direction: ltr;
  font-family: 'Open Sans', sans-serif;
  color: #292929;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.casetextbold {
  margin-top: 6%;
  margin-bottom: 0%;
  padding-bottom: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #9b9b9b;
  font-size: 26px;
  font-weight: 900;
}

.casetextbold.aboutlink {
  margin-top: 3%;
}

.casetestsubtitle {
  margin-top: 3%;
  margin-bottom: 0%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  font-size: 26px;
  line-height: 35px;
  font-weight: 600;
}

.link {
  color: #979797;
  text-decoration: none;
}

.caseimages {
  margin-top: 5%;
}

.link-2 {
  color: #9b9b9b;
  text-decoration: none;
}

.image-3 {
  margin-top: 2px;
}

.image-4 {
  float: right;
  text-align: right;
}

.scrolldown {
  margin-bottom: 3%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.image-5 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-top: 13%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.menu-links {
  margin-right: 8%;
  margin-left: 8%;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.text-block-4 {
  margin-right: 8%;
  margin-left: 8%;
  padding-bottom: 2%;
  border-bottom: 1px solid #e9e9e9;
  font-family: 'Open Sans', sans-serif;
  color: #9aa0a7;
  font-size: 20px;
}

.link-3 {
  color: #333;
  text-decoration: none;
}

.navbar-1 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  overflow: scroll;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f0f0f0;
}

.nav-bar-wrap {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.brand-4 {
  height: 100%;
}

.logo-text {
  margin-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #1a1a1a;
  font-size: 32px;
  line-height: 34px;
  font-weight: 900;
}

.nav-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link-3 {
  font-family: Roboto, sans-serif;
  color: #4f5e78;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

.nav-link-3.hvr-pop {
  color: #6b6b6b;
  font-weight: 500;
}

.nav-link-3.hvr-pop.w--current {
  font-family: Roboto, sans-serif;
  color: #6b6b6b;
}

.nav-btn {
  margin-left: 0px;
  border-style: none;
  border-color: #b4b4b4;
  border-radius: 0px;
  background-color: hsla(0, 0%, 94%, .94);
  font-family: Roboto, sans-serif;
  color: #4b4444;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-btn-2 {
  margin-left: 25px;
  border-radius: 4px;
  background-color: #5748c5;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

.container-2 {
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 0%;
  padding-bottom: 10%;
}

.casebody {
  margin-top: 10%;
}

.casemedia {
  margin-top: 5%;
}

.text-block-5 {
  margin-top: 5%;
  font-family: Roboto, sans-serif;
  color: #6d6d6d;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
}

.projectcategories {
  margin-top: 12%;
  margin-right: 1%;
  border-radius: 15px;
  background-color: #f0f0f0;
  font-family: Roboto, sans-serif;
  color: #6b6b6b;
  font-weight: 500;
}

.text-block-6 {
  margin-top: 30%;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
}

html.w-mod-js *[data-ix="display-none"] {
  display: none;
}

html.w-mod-js *[data-ix="display"] {
  display: block;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

@media (max-width: 991px) {
  .section.menu {
    margin-top: 55%;
  }
  .first {
    margin-bottom: 40%;
  }
  .image-2 {
    margin-left: 300px;
  }
  .items._1 {
    background-size: cover;
  }
  .items._0 {
    background-size: cover;
  }
  .socialbutton {
    margin-left: 279px;
  }
  .nav-menu-2 {
    background-color: #fcfcfc;
  }
}

@media (max-width: 767px) {
  .xavierrievra {
    padding-left: 3%;
    font-size: 28px;
    line-height: 38px;
    text-align: left;
  }
  .xavier {
    text-align: left;
  }
  .section {
    padding-right: 9px;
    padding-left: 9px;
  }
  .aboutme {
    font-size: 19px;
    line-height: 29px;
    text-align: left;
  }
  .aboutmetitle.aboutmetitle2 {
    padding-left: 0%;
    font-size: 28px;
    text-align: left;
  }
  .beeckimages.flier {
    margin-top: 6%;
    margin-bottom: 6%;
  }
  .div-block {
    margin-right: 2%;
    margin-left: 2%;
  }
  .image-2 {
    margin-left: 469px;
  }
  .morelink {
    margin-bottom: 15px;
  }
  .socialbutton {
    margin-left: 451px;
  }
  .logo-text {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .title {
    padding-left: 5%;
  }
  .bio {
    padding-right: 5%;
    padding-left: 5%;
  }
  .body {
    background-color: #aaa;
    background-position: -268px -268%;
  }
  .leftone {
    position: static;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
  }
  .links {
    font-size: 15px;
  }
  .links.morelink {
    box-shadow: inset 0 -5px 0 0 #3dd0dc;
    font-size: 15px;
  }
  .herofont {
    margin-bottom: 0%;
  }
  .xavierrievra {
    padding-top: 55%;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 28px;
    line-height: 38px;
    text-align: left;
  }
  .xavier {
    color: #fff;
    text-align: left;
  }
  .section {
    padding-right: 9px;
    padding-left: 9px;
  }
  .section.last {
    padding-right: 0px;
    padding-left: 0px;
  }
  .section.menu {
    margin-top: 0%;
    padding-top: 0%;
  }
  .aboutme {
    margin-top: 10%;
    padding-right: 3%;
    padding-left: 3%;
    font-size: 19px;
    line-height: 29px;
    text-align: left;
  }
  .aboutmetitle {
    margin-top: 30%;
    margin-left: 10%;
    padding-right: 15%;
    padding-bottom: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    line-height: 8px;
    font-weight: 300;
  }
  .aboutmetitle.aboutmetitle2 {
    margin-top: 0%;
    margin-left: 0%;
    padding-left: 3%;
    text-align: left;
  }
  .text-span {
    color: #fff;
    line-height: 30px;
  }
  .first {
    margin-top: 10%;
    margin-bottom: 25%;
  }
  .div-block {
    display: block;
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 8px;
    padding-left: 8px;
  }
  .column-2 {
    padding-right: 0px;
  }
  .image {
    margin-top: 1px;
    margin-left: -307px;
  }
  .image-2 {
    margin-top: -22%;
    margin-left: 92%;
  }
  .items._2 {
    margin-top: 10px;
  }
  .items._1 {
    margin-top: 10px;
    background-size: cover;
  }
  .items._3 {
    margin-top: 10px;
  }
  .items._0 {
    background-size: cover;
  }
  .casetitle {
    margin-top: 14px;
  }
  .casecaption {
    font-size: 15px;
  }
  .socialbutton {
    margin-right: 19px;
    margin-left: 228px;
    padding-right: 0px;
  }
  .text-block-4 {
    text-align: center;
  }
}

